+ ### **Import libraries**

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

+ ### **load the dataset**

In [2]:
df=pd.read_excel('WorldBank.xlsx')
df

,Country Name,Country Code,Region,IncomeGroup,Year,"Birth rate, crude (per 1,000 people)","Death rate, crude (per 1,000 people)",Electric power consumption (kWh per capita),GDP (USD),GDP per capita (USD),Individuals using the Internet (% of population),"Infant mortality rate (per 1,000 live births)",Life expectancy at birth (years),Population density (people per sq. km of land area),Unemployment (% of total labor force) (modeled ILO estimate)
0,Afghanistan,AFG,South Asia,Low income,2018,NaN,NaN,NaN,1.936300e+10,520.897,NaN,47.9,NaN,56.9378,1.542
1,Afghanistan,AFG,South Asia,Low income,2017,33.211,6.575,NaN,2.019180e+10,556.302,13.50,49.5,64.130,55.5960,1.559
2,Afghanistan,AFG,South Asia,Low income,2016,33.981,6.742,NaN,1.936260e+10,547.228,11.20,51.2,63.763,54.1971,1.634
3,Afghanistan,AFG,South Asia,Low income,2015,34.809,6.929,NaN,1.990710e+10,578.466,8.26,53.1,63.377,52.7121,1.679
4,Afghanistan,AFG,South Asia,Low income,2014,35.706,7.141,NaN,2.048490e+10,613.856,7.00,55.1,62.966,51.1148,1.735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12444,Zimbabwe,ZWE,Sub-Saharan Africa,Low income,1964,47.770,13.083,NaN,1.217138e+09,281.558,NaN,83.2,54.849,11.1745,NaN
12445,Zimbabwe,ZWE,Sub-Saharan Africa,Low income,1963,47.876,13.419,NaN,1.159512e+09,277.480,NaN,85.7,54.403,10.8019,NaN
12446,Zimbabwe,ZWE,Sub-Saharan Africa,Low income,1962,47.950,13.762,NaN,1.117602e+09,276.689,NaN,88.1,53.946,10.4413,NaN
12447,Zimbabwe,ZWE,Sub-Saharan Africa,Low income,1961,47.988,14.104,NaN,1.096647e+09,280.829,NaN,90.5,53.483,10.0944,NaN
12448,Zimbabwe,ZWE,Sub-Saharan Africa,Low income,1960,47.996,14.441,NaN,1.052990e+09,278.814,NaN,92.8,53.019,NaN,NaN

In [3]:
df.head()

,Country Name,Country Code,Region,IncomeGroup,Year,"Birth rate, crude (per 1,000 people)","Death rate, crude (per 1,000 people)",Electric power consumption (kWh per capita),GDP (USD),GDP per capita (USD),Individuals using the Internet (% of population),"Infant mortality rate (per 1,000 live births)",Life expectancy at birth (years),Population density (people per sq. km of land area),Unemployment (% of total labor force) (modeled ILO estimate)
0,Afghanistan,AFG,South Asia,Low income,2018,NaN,NaN,NaN,1.936300e+10,520.897,NaN,47.9,NaN,56.9378,1.542
1,Afghanistan,AFG,South Asia,Low income,2017,33.211,6.575,NaN,2.019180e+10,556.302,13.50,49.5,64.130,55.5960,1.559
2,Afghanistan,AFG,South Asia,Low income,2016,33.981,6.742,NaN,1.936260e+10,547.228,11.20,51.2,63.763,54.1971,1.634
3,Afghanistan,AFG,South Asia,Low income,2015,34.809,6.929,NaN,1.990710e+10,578.466,8.26,53.1,63.377,52.7121,1.679
4,Afghanistan,AFG,South Asia,Low income,2014,35.706,7.141,NaN,2.048490e+10,613.856,7.00,55.1,62.966,51.1148,1.735

In [4]:
df.tail()

,Country Name,Country Code,Region,IncomeGroup,Year,"Birth rate, crude (per 1,000 people)","Death rate, crude (per 1,000 people)",Electric power consumption (kWh per capita),GDP (USD),GDP per capita (USD),Individuals using the Internet (% of population),"Infant mortality rate (per 1,000 live births)",Life expectancy at birth (years),Population density (people per sq. km of land area),Unemployment (% of total labor force) (modeled ILO estimate)
12444,Zimbabwe,ZWE,Sub-Saharan Africa,Low income,1964,47.770,13.083,NaN,1.217138e+09,281.558,NaN,83.2,54.849,11.1745,NaN
12445,Zimbabwe,ZWE,Sub-Saharan Africa,Low income,1963,47.876,13.419,NaN,1.159512e+09,277.480,NaN,85.7,54.403,10.8019,NaN
12446,Zimbabwe,ZWE,Sub-Saharan Africa,Low income,1962,47.950,13.762,NaN,1.117602e+09,276.689,NaN,88.1,53.946,10.4413,NaN
12447,Zimbabwe,ZWE,Sub-Saharan Africa,Low income,1961,47.988,14.104,NaN,1.096647e+09,280.829,NaN,90.5,53.483,10.0944,NaN
12448,Zimbabwe,ZWE,Sub-Saharan Africa,Low income,1960,47.996,14.441,NaN,1.052990e+09,278.814,NaN,92.8,53.019,NaN,NaN

In [5]:
df.columns

Index(['Country Name', 'Country Code', 'Region', 'IncomeGroup', 'Year',
       'Birth rate, crude (per 1,000 people)',
       'Death rate, crude (per 1,000 people)',
       'Electric power consumption (kWh per capita)', 'GDP (USD)',
       'GDP per capita (USD)',
       'Individuals using the Internet (% of population)',
       'Infant mortality rate (per 1,000 live births)',
       'Life expectancy at birth (years)',
       'Population density (people per sq. km of land area)',
       'Unemployment (% of total labor force) (modeled ILO estimate)'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12449 entries, 0 to 12448
Data columns (total 15 columns):
 #   Column                                                        Non-Null Count  Dtype
---  ------                                                        --------------  -----
 0   Country Name                                                  12449 non-null  object
 1   Country Code                                                  12449 non-null  object
 2   Region                                                        12449 non-null  object
 3   IncomeGroup                                                   12449 non-null  object
 4   Year                                                          12449 non-null  int64
 5   Birth rate, crude (per 1,000 people)                          11440 non-null  float64
 6   Death rate, crude (per 1,000 people)                          11416 non-null  float64
 7   Electric power consumption (kWh per capita)                   5848 non-null   float64
 8   GDP (USD)                                                     9578 non-null   float64
 9   GDP per capita (USD)                                          9575 non-null   float64
 10  Individuals using the Internet (% of population)              5064 non-null   float64
 11  Infant mortality rate (per 1,000 live births)                 9984 non-null   float64
 12  Life expectancy at birth (years)                              11176 non-null  float64
 13  Population density (people per sq. km of land area)           11845 non-null  float64
 14  Unemployment (% of total labor force) (modeled ILO estimate)  5208 non-null   float64
dtypes: float64(10), int64(1), object(4)
memory usage: 1.4+ MB

In [7]:
df.describe()

,Year,"Birth rate, crude (per 1,000 people)","Death rate, crude (per 1,000 people)",Electric power consumption (kWh per capita),GDP (USD),GDP per capita (USD),Individuals using the Internet (% of population),"Infant mortality rate (per 1,000 live births)",Life expectancy at birth (years),Population density (people per sq. km of land area),Unemployment (% of total labor force) (modeled ILO estimate)
count,12449.00000,11440.000000,11416.000000,5848.000000,9.578000e+03,9575.000000,5064.000000,9984.000000,11176.000000,11845.000000,5208.000000
mean,1989.00000,28.643276,10.588539,3175.294686,1.700740e+11,8231.812259,23.334471,51.704437,64.044692,318.861370,8.295079
std,17.03007,13.131893,5.489382,4467.139298,8.979866e+11,16173.539954,28.319388,46.131039,11.491087,1593.406041,6.290703
min,1960.00000,6.900000,1.127000,0.000000,8.824450e+06,34.790600,0.000000,1.400000,18.907000,0.098625,0.140000
25%,1974.00000,16.600000,6.863750,390.385750,1.393010e+09,513.145500,0.594949,14.475000,55.917750,19.783400,3.687000
50%,1989.00000,27.545500,9.200000,1541.895000,7.275305e+09,1852.810000,8.406225,37.000000,67.276000,64.007500,6.775000
75%,2004.00000,40.881250,12.687000,4313.767500,4.857782e+10,7774.565000,41.295950,78.200000,72.692250,144.823000,11.212250
max,2018.00000,58.227000,54.444000,54799.200000,2.050000e+13,189171.000000,100.000000,279.400000,85.417100,21389.100000,37.940000

+ ### **To check the duplicate**

In [8]:
df.duplicated().sum()

0

+ ### **To check th null  values**

In [9]:
df.isnull().sum()

Country Name                                                       0
Country Code                                                       0
Region                                                             0
IncomeGroup                                                        0
Year                                                               0
Birth rate, crude (per 1,000 people)                            1009
Death rate, crude (per 1,000 people)                            1033
Electric power consumption (kWh per capita)                     6601
GDP (USD)                                                       2871
GDP per capita (USD)                                            2874
Individuals using the Internet (% of population)                7385
Infant mortality rate (per 1,000 live births)                   2465
Life expectancy at birth (years)                                1273
Population density (people per sq. km of land area)              604
Unemployment (% of total labor force) (modeled ILO estimate)    7241
dtype: int64

In [10]:
df.isnull()

,Country Name,Country Code,Region,IncomeGroup,Year,"Birth rate, crude (per 1,000 people)","Death rate, crude (per 1,000 people)",Electric power consumption (kWh per capita),GDP (USD),GDP per capita (USD),Individuals using the Internet (% of population),"Infant mortality rate (per 1,000 live births)",Life expectancy at birth (years),Population density (people per sq. km of land area),Unemployment (% of total labor force) (modeled ILO estimate)
0,False,False,False,False,False,True,True,True,False,False,True,False,True,False,False
1,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12444,False,False,False,False,False,False,False,True,False,False,True,False,False,False,True
12445,False,False,False,False,False,False,False,True,False,False,True,False,False,False,True
12446,False,False,False,False,False,False,False,True,False,False,True,False,False,False,True
12447,False,False,False,False,False,False,False,True,False,False,True,False,False,False,True
12448,False,False,False,False,False,False,False,True,False,False,True,False,False,True,True

In [11]:
df.isnull().sum()/len(df)*100

Country Name                                                     0.000000
Country Code                                                     0.000000
Region                                                           0.000000
IncomeGroup                                                      0.000000
Year                                                             0.000000
Birth rate, crude (per 1,000 people)                             8.105069
Death rate, crude (per 1,000 people)                             8.297855
Electric power consumption (kWh per capita)                     53.024339
GDP (USD)                                                       23.062093
GDP per capita (USD)                                            23.086192
Individuals using the Internet (% of population)                59.322034
Infant mortality rate (per 1,000 live births)                   19.800787
Life expectancy at birth (years)                                10.225721
Population density (people per sq. km of land area)              4.851795
Unemployment (% of total labor force) (modeled ILO estimate)    58.165314
dtype: float64

In [12]:
null_percentages = df.isnull().mean() * 100
cols_to_drop = null_percentages[null_percentages > 30].index
df = df.drop(cols_to_drop, axis=1)

In [13]:
df.isnull().sum()/len(df)*100

Country Name                                            0.000000
Country Code                                            0.000000
Region                                                  0.000000
IncomeGroup                                             0.000000
Year                                                    0.000000
Birth rate, crude (per 1,000 people)                    8.105069
Death rate, crude (per 1,000 people)                    8.297855
GDP (USD)                                              23.062093
GDP per capita (USD)                                   23.086192
Infant mortality rate (per 1,000 live births)          19.800787
Life expectancy at birth (years)                       10.225721
Population density (people per sq. km of land area)     4.851795
dtype: float64

In [14]:
for col in ['Country Name', 'Country Code', 'Region', 'IncomeGroup']:
    df[col] = df[col].fillna(df[col].mode().iloc[0])

In [15]:
for col in ['Birth rate, crude (per 1,000 people)', 'Death rate, crude (per 1,000 people)', 'GDP (USD)', 'GDP per capita (USD)', 'Infant mortality rate (per 1,000 live births)', 'Life expectancy at birth (years)', 'Population density (people per sq. km of land area)']:
    df[col] = df[col].fillna(df[col].median())

In [16]:
df.isnull().sum()/len(df)*100

Country Name                                           0.0
Country Code                                           0.0
Region                                                 0.0
IncomeGroup                                            0.0
Year                                                   0.0
Birth rate, crude (per 1,000 people)                   0.0
Death rate, crude (per 1,000 people)                   0.0
GDP (USD)                                              0.0
GDP per capita (USD)                                   0.0
Infant mortality rate (per 1,000 live births)          0.0
Life expectancy at birth (years)                       0.0
Population density (people per sq. km of land area)    0.0
dtype: float64

In [17]:
df.isnull().sum()

Country Name                                           0
Country Code                                           0
Region                                                 0
IncomeGroup                                            0
Year                                                   0
Birth rate, crude (per 1,000 people)                   0
Death rate, crude (per 1,000 people)                   0
GDP (USD)                                              0
GDP per capita (USD)                                   0
Infant mortality rate (per 1,000 live births)          0
Life expectancy at birth (years)                       0
Population density (people per sq. km of land area)    0
dtype: int64

In [18]:
filtered_df = df[(df['Birth rate, crude (per 1,000 people)'] > 20) & (df['GDP per capita (USD)'] < 10000)]
filtered_df

,Country Name,Country Code,Region,IncomeGroup,Year,"Birth rate, crude (per 1,000 people)","Death rate, crude (per 1,000 people)",GDP (USD),GDP per capita (USD),"Infant mortality rate (per 1,000 live births)",Life expectancy at birth (years),Population density (people per sq. km of land area)
0,Afghanistan,AFG,South Asia,Low income,2018,27.5455,9.200,1.936300e+10,520.897,47.9,67.276,56.9378
1,Afghanistan,AFG,South Asia,Low income,2017,33.2110,6.575,2.019180e+10,556.302,49.5,64.130,55.5960
2,Afghanistan,AFG,South Asia,Low income,2016,33.9810,6.742,1.936260e+10,547.228,51.2,63.763,54.1971
3,Afghanistan,AFG,South Asia,Low income,2015,34.8090,6.929,1.990710e+10,578.466,53.1,63.377,52.7121
4,Afghanistan,AFG,South Asia,Low income,2014,35.7060,7.141,2.048490e+10,613.856,55.1,62.966,51.1148
...,...,...,...,...,...,...,...,...,...,...,...,...
12444,Zimbabwe,ZWE,Sub-Saharan Africa,Low income,1964,47.7700,13.083,1.217138e+09,281.558,83.2,54.849,11.1745
12445,Zimbabwe,ZWE,Sub-Saharan Africa,Low income,1963,47.8760,13.419,1.159512e+09,277.480,85.7,54.403,10.8019
12446,Zimbabwe,ZWE,Sub-Saharan Africa,Low income,1962,47.9500,13.762,1.117602e+09,276.689,88.1,53.946,10.4413
12447,Zimbabwe,ZWE,Sub-Saharan Africa,Low income,1961,47.9880,14.104,1.096647e+09,280.829,90.5,53.483,10.0944
12448,Zimbabwe,ZWE,Sub-Saharan Africa,Low income,1960,47.9960,14.441,1.052990e+09,278.814,92.8,53.019,64.0075

In [19]:
filtered_df = df[(df['Region'] == 'Europe & Central Asia') & (df['IncomeGroup'] == 'High income')]
filtered_df

Empty DataFrame
Columns: [Country Name, Country Code, Region, IncomeGroup, Year, Birth rate, crude (per 1,000 people), Death rate, crude (per 1,000 people), GDP (USD), GDP per capita (USD), Infant mortality rate (per 1,000 live births), Life expectancy at birth (years), Population density (people per sq. km of land area)]
Index: []

In [20]:
filtered_df = df[df['Year'].isin([2020, 2021])]
filtered_df

Empty DataFrame
Columns: [Country Name, Country Code, Region, IncomeGroup, Year, Birth rate, crude (per 1,000 people), Death rate, crude (per 1,000 people), GDP (USD), GDP per capita (USD), Infant mortality rate (per 1,000 live births), Life expectancy at birth (years), Population density (people per sq. km of land area)]
Index: []

In [21]:
filtered_df = df[(df['Life expectancy at birth (years)'] >= 70) & (df['Life expectancy at birth (years)'] <= 80)]
filtered_df

,Country Name,Country Code,Region,IncomeGroup,Year,"Birth rate, crude (per 1,000 people)","Death rate, crude (per 1,000 people)",GDP (USD),GDP per capita (USD),"Infant mortality rate (per 1,000 live births)",Life expectancy at birth (years),Population density (people per sq. km of land area)
60,Albania,ALB,Europe & Central Asia,Upper middle income,2017,11.934,7.714,1.302510e+10,4532.89,8.0,78.333,104.871
61,Albania,ALB,Europe & Central Asia,Upper middle income,2016,12.080,7.534,1.186140e+10,4124.11,8.2,78.194,104.967
62,Albania,ALB,Europe & Central Asia,Upper middle income,2015,12.197,7.367,1.138690e+10,3952.83,8.5,78.025,105.135
63,Albania,ALB,Europe & Central Asia,Upper middle income,2014,12.259,7.219,1.322820e+10,4578.67,8.9,77.813,105.442
64,Albania,ALB,Europe & Central Asia,Upper middle income,2013,12.257,7.096,1.277630e+10,4413.08,9.5,77.554,105.660
...,...,...,...,...,...,...,...,...,...,...,...,...
12231,West Bank and Gaza,PSE,Middle East & North Africa,Lower middle income,2000,40.900,4.500,4.313600e+09,1476.17,25.1,71.022,485.407
12232,West Bank and Gaza,PSE,Middle East & North Africa,Lower middle income,1999,41.400,4.600,4.271200e+09,1499.49,25.8,70.797,473.161
12233,West Bank and Gaza,PSE,Middle East & North Africa,Lower middle income,1998,42.100,4.800,4.067800e+09,1465.05,26.6,70.560,461.224
12234,West Bank and Gaza,PSE,Middle East & North Africa,Lower middle income,1997,42.700,4.900,3.759800e+09,1389.16,27.5,70.309,449.588
12235,West Bank and Gaza,PSE,Middle East & North Africa,Lower middle income,1996,43.060,5.160,3.409600e+09,1317.47,28.4,70.041,429.900

In [22]:
filtered_df = df[(df['Birth rate, crude (per 1,000 people)'] > 20) & (df['GDP per capita (USD)'] < 10000) & (df['Year'].isin([2020, 2021]))]
filtered_df

Empty DataFrame
Columns: [Country Name, Country Code, Region, IncomeGroup, Year, Birth rate, crude (per 1,000 people), Death rate, crude (per 1,000 people), GDP (USD), GDP per capita (USD), Infant mortality rate (per 1,000 live births), Life expectancy at birth (years), Population density (people per sq. km of land area)]
Index: []

In [23]:
df.columns

Index(['Country Name', 'Country Code', 'Region', 'IncomeGroup', 'Year',
       'Birth rate, crude (per 1,000 people)',
       'Death rate, crude (per 1,000 people)', 'GDP (USD)',
       'GDP per capita (USD)', 'Infant mortality rate (per 1,000 live births)',
       'Life expectancy at birth (years)',
       'Population density (people per sq. km of land area)'],
      dtype='object')

+ ### **Filter rows based on specific conditions**

In [24]:
europe_central_asia = df[df['Region'] == 'Europe & Central Asia']
europe_central_asia

,Country Name,Country Code,Region,IncomeGroup,Year,"Birth rate, crude (per 1,000 people)","Death rate, crude (per 1,000 people)",GDP (USD),GDP per capita (USD),"Infant mortality rate (per 1,000 live births)",Life expectancy at birth (years),Population density (people per sq. km of land area)
59,Albania,ALB,Europe & Central Asia,Upper middle income,2018,27.5455,9.200,1.505890e+10,5253.63,7.8,67.276,104.6120
60,Albania,ALB,Europe & Central Asia,Upper middle income,2017,11.9340,7.714,1.302510e+10,4532.89,8.0,78.333,104.8710
61,Albania,ALB,Europe & Central Asia,Upper middle income,2016,12.0800,7.534,1.186140e+10,4124.11,8.2,78.194,104.9670
62,Albania,ALB,Europe & Central Asia,Upper middle income,2015,12.1970,7.367,1.138690e+10,3952.83,8.5,78.025,105.1350
63,Albania,ALB,Europe & Central Asia,Upper middle income,2014,12.2590,7.219,1.322820e+10,4578.67,8.9,77.813,105.4420
...,...,...,...,...,...,...,...,...,...,...,...,...
11972,Uzbekistan,UZB,Europe & Central Asia,Lower middle income,1964,42.1280,12.330,7.275305e+09,1852.81,37.0,60.348,22.9497
11973,Uzbekistan,UZB,Europe & Central Asia,Lower middle income,1963,42.9450,12.681,7.275305e+09,1852.81,37.0,59.969,22.1648
11974,Uzbekistan,UZB,Europe & Central Asia,Lower middle income,1962,43.5630,13.015,7.275305e+09,1852.81,37.0,59.589,21.4236
11975,Uzbekistan,UZB,Europe & Central Asia,Lower middle income,1961,43.9410,13.323,7.275305e+09,1852.81,37.0,59.210,20.7184
11976,Uzbekistan,UZB,Europe & Central Asia,Lower middle income,1960,44.0700,13.599,7.275305e+09,1852.81,37.0,58.835,64.0075

+ ### **Group data by a categorical variable and calculate summary statistics**

In [25]:
birth_rate_by_income = df.groupby('IncomeGroup')['Birth rate, crude (per 1,000 people)'].agg(['mean', 'count'])
birth_rate_by_income

                           mean  count
IncomeGroup
High income: OECD     14.755739   1888
High income: nonOECD  22.376482   2773
Low income            43.271619   1829
Lower middle income   34.942335   2832
Upper middle income   27.970319   3127

+ ### **Calculate the mean, median, and standard deviation**

In [26]:
mean_gdp_per_capita = df['GDP per capita (USD)'].mean()
print(mean_gdp_per_capita)
median_gdp_per_capita = df['GDP per capita (USD)'].median()
print(median_gdp_per_capita)
std_gdp_per_capita = df['GDP per capita (USD)'].std()
print(std_gdp_per_capita)

6759.143571274802
1852.81
14436.581441730588